__pycache__/
*.py[cod]
.venv/
.pytest_cache/

data/EMG/*
!data/EMG/.gitkeep
tokenizers/*
!tokenizers/.gitkeep
!tokenizers/left_hand/
!tokenizers/right_hand/
!tokenizers/left_hand/.gitkeep
!tokenizers/right_hand/.gitkeep

experiments/
slurm_logs/
wandb/
*.pt
*.pth
*.ckpt
